.git
.github
.claude
.idea
.vscode
.fleet
graft
docs
tests
node_modules
vendor
.env
.env.*
.phpunit.cache
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
**/.DS_Store
public/storage
