@font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 100;
    src: local('DMSans-Thin'), url('../fonts/DMSans-Thin.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 200;
    src: local('DMSans-ExtraLight'), url('../fonts/DMSans-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 300;
    src: local('DMSans-Light'), url('../fonts/DMSans-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 400;
    src: local('DMSans-Regular'), url('../fonts/DMSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 500;
    src: local('DMSans-Medium'), url('../fonts/DMSans-Medium.ttf') format('truetype');
  }
   
  @font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 600;
    src: local('DMSans-SemiBold'), url('../fonts/DMSans-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 700;
    src: local('DMSans-Bold'), url('../fonts/DMSans-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 800;
    src: local('DMSans-ExtraBold'), url('../fonts/DMSans-ExtraBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DMSans';
    font-style: normal;
    font-weight: 900;
    src: local('DMSans-Black'), url('../fonts/DMSans-Black.ttf') format('truetype');
  }


  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 100;
    src: local('CircularSpotify-Regular'), url('../fonts/CircularSpotify-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 200;
    src: local('CircularSpotify-Regular'), url('../fonts/CircularSpotify-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 300;
    src: local('CircularSpotify-Regular'), url('../fonts/CircularSpotify-Regular.woff2') format('woff2');
  }


  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 400;
    src: local('CircularSpotify-Regular'), url('../fonts/CircularSpotify-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 500;
    src: local('CircularSpotify-Regular'), url('../fonts/CircularSpotify-Regular.woff2') format('woff2');
  }
  
  
  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 600;
    src: local('CircularSpotify-Bold'), url('../fonts/CircularSpotify-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 700;
    src: local('CircularSpotify-Bold'), url('../fonts/CircularSpotify-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 800;
    src: local('CircularSpotify-Bold'), url('../fonts/CircularSpotify-Bold.woff2') format('woff2');
  }
  

  @font-face {
    font-family: 'CircularSpotify';
    font-style: normal;
    font-weight: 900;
    src: local('CircularSpotify-Black'), url('../fonts/CircularSpotify-Black.woff2') format('woff2');
  }
  
    
  @font-face {
    font-family: 'CircularSpTitle';
    font-style: normal;
    font-weight: 500;
    src: local('CircularSpTitle-Tall'), url('../fonts/CircularSpTitle-Tall.woff2') format('woff2');
  }

  @font-face {
    font-family: 'CircularSpTitle';
    font-style: normal;
    font-weight: 600;
    src: local('CircularSpTitle-Bold'), url('../fonts/CircularSpTitle-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'IBMPlexMono';
    font-style: normal;
    font-weight: 100;
    src: local('IBMPlexMono-Thin'), url('../fonts/IBMPlexMono-Thin.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono';
    font-style: normal;
    font-weight: 200;
    src: local('IBMPlexMono-ExtraLight'), url('../fonts/IBMPlexMono-ExtraLight.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono';
    font-style: normal;
    font-weight: 300;
    src: local('IBMPlexMono-Light'), url('../fonts/IBMPlexMono-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono';
    font-style: normal;
    font-weight: 400;
    src: local('IBMPlexMono-Regular'), url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono';
    font-style: normal;
    font-weight: 500;
    src: local('IBMPlexMono-Medium'), url('../fonts/IBMPlexMono-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono';
    font-style: normal;
    font-weight: 600;
    src: local('IBMPlexMono-SemiBold'), url('../fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'IBMPlexMono';
    font-style: normal;
    font-weight: 700;
    src: local('IBMPlexMono-Bold'), url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
  }
